@page "{id}"
@model DonutShop.Pages.Product.DetailsModel
@using System.Security.Claims
@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h1>@Model.Donut.Name</h1>
<div class="detailsDiv">
    <img id="detailImage" src="@Model.Donut.ImageUrl" />
    <h6>SKU: @Model.Donut.SKU</h6>
    <h6>Price: $@Model.Donut.Price</h6>
    <p>@Model.Donut.Description</p>
    <form asp-action="AddToCart" asp-controller="product">
        <input type="hidden" asp-for="User.Claims.FirstOrDefault(x => x.Type == ClaimValueTypes.Email).Value" />
        <input type="hidden" asp-for="@Model.Donut.ID" name="donutID"/>
        <label>Quantity:</label>
        <input type="number" name="quantity" />
        <button> Add to Cart</button>
    </form>
    <form method="get" asp-controller="product" asp-action="index">
        <button href="~/product/">Back</button>
    </form>
</div>

<div class="clearfix"></div>

@await Component.InvokeAsync("MiniCart", User.Claims.FirstOrDefault(x => x.Type == ClaimValueTypes.Email).Value)

